* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-tap-highlight-color: transparent;
}

body {
  /* background-color: #335; */
  background: linear-gradient(45deg, #335, #669);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}